---
http_interactions:
- request:
    method: get
    uri: https://sandboxapi.rapyd.net/v1/payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Salt:
      - vlkvzbwu
      Timestamp:
      - '1591267644'
      Access-Key:
      - 54DB551A3EE85C7C86C1
      Signature:
      - ZmUxNTQ2NTlhYjUwYmQ5MzM3MmRlYzk1MGUyNjljMGFkZmVjNjEwMzlkZjkyN2U3YWI3YjgyZDEyYjhmYjZkNg==
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c4-a+fjrx9p6yakllgkkP+roQ"
    body:
      encoding: UTF-8
      string: '{"status":{"error_code":"UNAUTHENTICATED_API_CALL","status":"ERROR","message":"Invalid
        signature","response_code":"UNAUTHENTICATED_API_CALL","operation_id":"37f0a509-aaa7-4798-9146-c9d5239e2ea4"}}'
  recorded_at: Thu, 04 Jun 2020 10:47:30 GMT
recorded_with: VCR 6.0.0
